// Global component styles

html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
  }
  
  a {
    &:focus {
      outline: none;
    }
  }

  h2{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: 24px;
}
  
  // Main page wrapper
  #wrapper {
    display: flex;
    #content-wrapper {
      background-color: $white;
      width: 100%;
      overflow-x: hidden;
      #content {
        flex: 1 0 auto;
      }
    }
  }
  
  // Set container padding to match gutter width instead of default 15px
  .container,
  .container-fluid {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  
  // Scroll to top button
  .scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: $white;
    background: fade-out($gray-800, .5);
    line-height: 46px;
    &:focus,
    &:hover {
      color: white;
    }
    &:hover {
      background: $gray-800;
    }
    i {
      font-weight: 800;
    }
  }
  

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  padding-bottom: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  to {
      top: 0;
      opacity: 1
  }
}


/* The Close Button */

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: black;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}