@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700|Roboto:300,500,700&display=swap');

.text-light{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
.text-medium{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
}
.text-bold{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}
.text-cond-light{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:300;
}
.text-cond-bold{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
}