.tabla-dashboard{
    thead th {
        color: $primary;
        font-size: .9rem;
    }
}

.card{
    .card-header{
        background: #D8D8D8;
    }
    input{
        padding: 0.5rem 1.25rem;;
        font-weight: 300;
    }
}