<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-2" style="height: 100vh; background-color: black">
        </div>
        <div class="col-10">
            <div class="header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Pedro Lopez<br>Saldo: $0 pesos <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item p-2 pl-5">
                                <button><a class="nav-link" href="#">Agregar Saldo</a></button>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <button class="border-0 bg-white mx-4 my-2 my-sm-0" type="submit">AYUDA</button>
                            <button class="border-0 bg-white mx-4 my-2 my-sm-0" type="submit">CONTÁCTANOS</button>
                        </form>
                    </div>
                </nav>
            </div>
            <iframe src="./contents/order.content.html" style="height: 80vh; width: 100%; border:none"></iframe>
        </div>
    </div>
    <!-- </div> -->
</body>

</html>